<?xml version="1.0"?>
<launch>

    <include file="$(find usb_cam)/launch/usb_cam-test.launch"/>

    

    <node name="image_stream_encoder" pkg="image_stream_encoder" type="image_stream_encoder_node" output="screen">
        <rosparam command="load" file="$(find image_stream_encoder)/config/config.yaml"/>
    </node>
    

</launch>